<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/boostrap.min.css}">
</head>
<body>

        <div class="container">
            <h2>Formulaire de saisie du produit</h2>
            <form action="@{/produit/save}" method="post">
                <div class="mb-3">
                    <label  class="form-label"> Libelle du produit </label>
                    <input type="text" class="form-control"  placeholder="Saisissez le libelle" name="libelle">
                </div>
                <div class="mb-3">
                    <label class="form-label"> Quantite Seuil </label>
                    <input type="number" class="form-control" placeholder="Saisissez la quantité seuil" min="1" name="qteSeuil">
                </div>
                <div class="mb-3">
                    <label class="form-label"> Prix </label>
                    <input type="number" class="form-control" placeholder="Saisissez le prix" name="Prix" >
                </div>
               <div class="mb-3">
                  <input type="submit" value="Enregistrer">
               </div>
            </form>
        </div>

<script rel="text/javascript" th:src="@{/js/boostrap.bundle.min.js}"> </script>
</body>
</html>